.block .content .libroslibres {
	margin:auto;
   text-align: center;
   display: inline;
}
.block .content .libroslibres img{
    height: 80px;
    width: 160px;
    padding: 4px;
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #CCCCCC;
}
.block .content .libroslibres #edit-search-block-form-1 {
    display: block;
    float: left;
    height: 15px;
    margin-left: 0;
    text-align: left;
    width: 140px;
}
.block .content .libroslibres .form-submit {
    height: 20px;
}